





header {
    display: flex;
    justify-content: center;
    
    margin: 0rem;
    top:0rem;
    padding-top: 0%;
    font: bold 1rem sans-serif;
    /*
    outline-offset: 0.5rem;
    box-shadow: 0 0 0 5rem rgb(104, 120, 126);
    */
    }
h1{
        background-color: #1d2b36;
        border: 0.5rem solid #1fc966;
        color: #6F8AB7;
        border-radius: 30px;
        /*
        */
        text-align: center;
        padding: 1rem;
        margin:0;
        width: 50%;
}
.content{
    color: white;
    margin:2rem;
    
}
p{
    text-align:justify;
    text-justify: auto;
}
nav{
    font:normal 1rem sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 0.5rem;
    padding: 0.5rem;
    border-bottom: 0.5rem solid #1fc966;
    border-left:0.5rem solid #1fc966;
    border-right: 0.5rem solid #1fc966;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width: 40%;
}
.nav_item{
    text-decoration: none;
    font-weight: bold;
    display: flex;
    border-radius: 2rem;
    border: 0.5rem solid #1fc966;
    color:#bcc4d3;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}
.nav_item:hover {
    text-decoration: none;
    background: #275247;
    border-color: #1d7c45;
    color:#bdcbe2;
  }

footer{
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-top: solid #1fc966;
    text-align: center;
    color:#bcc4d3;
}

body {
 background-color: #1d2b36;
 margin: 1rem;
 padding: 0.5rem;
 padding-bottom: 0;
 border: 0.3rem solid #1fc966;

}